{% extends 'main.html' %}
{% load static %}
{% block content %}
  <br> 
<div class="container">
  <div class="row">{% for c in categories %}
 <ul class="navbar-nav m-2 mt-2">
      <li class="nav-item active">
        <a class="nav-link text-dark" href="{{c.get_absolute_url}}"><strong>{{c.name}}</strong></a>
      </li>
    </ul>{% endfor %}</div></div>

<br>


					
	<div class="row">
		{% for p in products %}
		<div class="col-lg-3">
			<div class="shadow p-3 mb-5 bg-white rounded">
				<h6><strong>{{p.name}}</strong></h6>
				<img class="img-fluid" src="{{p.imageURL}}" alt="">
				<hr>
					<div class="d-flex">
				<button data-product={{p.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Savatga qo'shish</button>
				<a href="{% url 'main:product_detail' p.id %}" class="btn btn-outline-success">Ko'rish</a></div>
				<hr>
				<center>
					<h4 >${{p.price|floatformat:2}}</h4>
				</center>
			</div>
		</div>
		{% endfor %}
	</div>
{% endblock content %}